$background-color: white;
$border-color: silver;
$topnav-active-color: rgb(189, 189, 189);
$topnav-hover-color: rgb(228, 228, 228);
$form-active-color: #5734d8;
$form-hover-color: #462aab;
$form-focus-color: #5834d86e;
$form-checkbox-checked-color: rgba(52, 183, 52, 0.641);
$form-checkbox-checked-background-color: rgba(115, 191, 115, 0.144);
