@import './colors.scss';
@import './fonts.scss';

.page-content h1,
.page-content h2 {
  font-family: $ubuntu-font, Arial, Helvetica, sans-serif;
}

.meal-plan-container {
  display: flex;
  flex-direction: column;
  border: solid 1px $form-active-color;
  border-radius: 10px;
  padding: 32px;
}

.meal-container {
  display: flex;
  flex-direction: column;
  border: solid 1px $border-color;
  border-radius: 10px;
  padding: 12px;
  font-family: $ubuntu-font, Arial, Helvetica, sans-serif;
  gap: 1rem;
  margin-bottom: 35px;
}

.meal-plan-top-label {
  font-family: $ubuntu-font, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 5px;
  padding-left: 5px;
  color: $secondary-text-color;
}

.meal-plan-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.meal-plan-container-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  gap: 0.2rem;
  padding: 5px;
}

.dish-name-container {
  border-bottom: solid 1px $border-color;
  font-size: 1.3rem;
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.energy-content-label {
  font-size: 1.2rem;
  font-weight: normal;
  border-bottom: solid 1px $border-color;
  padding: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.meal-plan-container-right {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-left: 8px;
  flex: 1;
  gap: 0.4rem;
}

.meal-plan-container-right span {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  padding-left: 3px;
}

.meal-plan-container-right .ingredients-label {
  font-size: 1.2rem;
  border: none;
}

.meal-plan-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meal-plan-img-container img {
  border-radius: 10px;
  width: 128px;
  height: 128px;
}

.meal-digest-container td {
  padding-right: 20px;
}

.meal-digest-container .header-cell {
  font-weight: bold;
  padding-bottom: 5px;
}

.accordion {
  background-color: $highlight-color;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: auto;
  border-radius: 5px;
}

.active {
  background-color: $accordion-active-color;
  border-radius: 5px 5px 0 0;
}

.accordion:hover {
  background-color: $form-hover-color;
  color: white;
}

.panel {
  padding: 16px;
  display: none;
  background-color: $highlight-color;
  overflow: hidden;
  margin: auto;
  margin-bottom: 16px;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 769px) {
  .meal-plan-container {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .meal-plan-container {
    width: 100vh;
  }
}

@media (max-width: 768px) {
  .meal-plan-container {
    width: 80%;
  }
}

@media (max-width: 512px) {
  .meal-container {
    padding: 6px;
  }

  .meal-plan-container {
    width: 90%;
    padding: 16px;
  }

  .meal-plan-content {
    flex-direction: column;
  }

  .meal-plan-img-container {
    align-items: center;
  }

  .meal-plan-img-container img {
    width: 160px;
    height: 160px;
  }

  .meal-plan-container-right {
    padding: 0;
  }
}
